
/Karma.MSBuild.SvnTasks.1.1.dotCover
/Karma.MSBuild.SvnTasks.6.0.ReSharper.user
/lib/SharpSvn/SharpSvn-x64
/lib/SharpSvn/SharpSvn
/src/Karma.MSBuild.SvnTasks/bin
/src/Karma.MSBuild.SvnTasks/obj
/src/Karma.MSBuild.SvnTasks/Karma.MSBuild.SvnTasks.1.1.dotCover
/src/Karma.MSBuild.SvnTasks/Karma.MSBuild.SvnTasks.6.0.ReSharper.user
/tests/Karma.MSBuild.SvnTasks.Test/obj
/tests/Karma.MSBuild.SvnTasks.Test/bin
/Karma.MSBuild.SvnTasks.sln.docstates.suo
/Karma.MSBuild.SvnTasks.suo
/_ReSharper.Karma.MSBuild.SvnTasks/AspFileDataCache.dat